Repository frankfanslc/ksync, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, dependency, apis, controller, cd, e2e

.github/labeler.yml:

docs:
- docs/**
- README.md

ci:
- .github/**
- cicd/gitlab/**
- .gitlab-ci.yml

dependency:
- go.mod
- go.sum
- vendor/**

apis:
- pkg/apis/**

controller:
- pkg/controller/**
- cmd/**

cd:
- cicd/deploy/**
- cicd/docker/**

e2e:
- e2e/**

chore(deps): update golangci/golangci-lint docker tag to v1.32.2
  scripts/lint.mk
Labels: none

chore(deps): update mstruebing/editorconfig-checker docker tag to v2.2.0
  scripts/lint.mk
Labels: none

chore(deps): update actions/labeler action to v3
  .github/workflows/label.yaml
Labels: ci

deps(vendor): Update vendored packages
  go.sum
Labels: dependency

chore(deps): update dependency https://github.com/pre-commit/pre-commit-hooks to v3
  .pre-commit-config.yaml
Labels: none

Update go version in ci
  .github/workflows/ci.yaml
  .github/workflows/deps.yaml
Labels: ci

chore(deps): update golang.org/x/net commit hash to ff519b6
  go.mod
  go.sum
  vendor/golang.org/x/net/http2/transport.go
  vendor/modules.txt
Labels: dependency

deps(vendor): Update vendored packages
  go.sum
Labels: dependency

Fix project files
  .golangci.yml
  scripts/test/e2e.sh
Labels: none

chore(deps): update dependency https://github.com/pre-commit/pre-commit-hooks to v3.4.0
  .pre-commit-config.yaml
Labels: none

chore(deps): update golangci/golangci-lint docker tag to v1.36.0
  scripts/lint.mk
Labels: none

chore(deps): update mstruebing/editorconfig-checker docker tag to v2.3.3
  scripts/lint.mk
Labels: none
